<div class="alignment-container">
    <!-- <div class="horizontal-alignment-div">
        <div id="a1" class="icon-img-div" (click)="setHorizontalAlignment('start')">
            <img src="assets/images/left-align.png" alt="">
        </div>
        <div id="a2" class="icon-img-div" (click)="setHorizontalAlignment('end')">
            <img src="assets/images/right-align.png" alt="">
        </div>
        <div id="a3" class="icon-img-div" (click)="setHorizontalAlignment('center')">
            <img src="assets/images/center-align.png" alt="">
        </div>
        <div id="a4" class="icon-img-div" (click)="setHorizontalAlignment('space-between')">
            <img src="assets/images/justification.png" alt="">
        </div>
    </div> -->
    <mat-button-toggle-group #group="matButtonToggleGroup">
      <mat-button-toggle id="a1" value="start" aria-label="Text align left" (click)="setHorizontalAlignment('start')">
        <mat-icon>format_align_left</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle id="a3" value="center" aria-label="Text align center" (click)="setHorizontalAlignment('center')">
        <mat-icon>format_align_center</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle id="a2" value="end" aria-label="Text align right" (click)="setHorizontalAlignment('end')">
        <mat-icon>format_align_right</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle id="a4" value="space-between" aria-label="Text align justify" (click)="setHorizontalAlignment('space-between')">
        <mat-icon>format_align_justify</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>

    <mat-button-toggle-group #group="matButtonToggleGroup">
      <mat-button-toggle id="b1" value="flex-start" aria-label="Text align left" (click)="setVerticalAlignment('flex-start')">
        <mat-icon>vertical_align_top</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle id="b2" value="flex-end" aria-label="Text align center" (click)="setVerticalAlignment('flex-end')">
        <mat-icon>vertical_align_bottom</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle id="b3" value="center" aria-label="Text align right" (click)="setVerticalAlignment('center')">
        <mat-icon>vertical_align_center</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle id="b4" value="stretch" aria-label="Text align justify" (click)="setVerticalAlignment('stretch')">
        <mat-icon>format_line_spacing</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <!-- <div class="horizontal-alignment-div">
        <div id="b1" class="icon-img-div" (click)="setVerticalAlignment('flex-start')">
            <img src="assets/images/top-alignment.png" alt="">
        </div>
        <div id="b2" class="icon-img-div" (click)="setVerticalAlignment('flex-end')">
            <img src="assets/images/bottom-alignment.png" alt="">
        </div>
        <div id="b3" class="icon-img-div" (click)="setVerticalAlignment('center')">
            <img src="assets/images/vertical-alignment.png" alt="">
        </div>
        <div id="b4" class="icon-img-div" (click)="setVerticalAlignment('stretch')">
            <img src="assets/images/distribute.png" alt="">
        </div>
    </div> -->
</div>
