<div class="note-div">
    <!-- <h1 [ngStyle]="{'text-align' : alignmentService.horizontalAlignment}">{{note?.stickyTitle}}</h1>
    <p [ngStyle]="{'text-align' : alignmentService.horizontalAlignment}">{{note?.stickyNote}}</p> -->
    <h1>{{note?.stickyTitle}}</h1>
    <p>{{note?.stickyNote}}</p>
</div>
<div class="edit-main-container">
    <div class="edit-div">
        <button mat-button color="accent" class="icon-img-div" (click)="editNote(note!.id)">
          <mat-icon>edit-note</mat-icon>
        </button>
        <button mat-button color="accent" class="icon-img-div delete-icon-div" (click)="deleteNote(note!.id)" id="{{note!.id}}-button">
          <mat-icon>delete-sweep</mat-icon>
        </button>
    </div>
</div>
