@import '../../../../../assets/styles/variables';

.note-div {
    width: 200px;
    min-height: 200px;
    background-color: $mainColor;
    color: $secondTextColor;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-wrap: break-word;
    padding-bottom: 26px;
}

.note-div:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

h1, p {
    width: 180px;
    text-align: center;
}

.edit-div {
    width: 200px;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    position: relative;
    bottom: 26px;
    button {
        min-width: 1px;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon-img-div {
            width: 40px;
        }
    }
}



