@import "../../../../assets/styles/variables";

.alert-message {
  margin-top: 30px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  .inputs-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    width: 80%;
  }
  button {
    margin-top: 15px;
    margin-bottom: 5px;
    width: 50%;
    padding: 3px 0;
  }
}

.outer-container {
  width: 100%;
  height: 100%;
  background-color: $indigo-light;
}

mat-card {
  position: absolute;
  top: 15%;
  left: 35%;
  width: 30%;
}
