@import '../../../../../assets/styles/variables';

#stickyNoteForm {
    margin-top: 60px;
}

.inputs-div {
    display: flex;
    justify-content: center;
    gap: 30px;
}

button {
    height: 40px;
    width: 100%;
    padding: 4px 6px;
    margin-bottom: 30px;
    border: none;
    background-color: $secondColor;
    border-radius: 4px;
    color: $secondTextColor;

    &:hover {
        background-color: $mainColor;
        color: $secondTextColor;
        border: none;
    }
    &:active {
        margin-left: 1px 1px 0;
        box-shadow: -1px -1px 1px #000;
        outline: 1px solid black;
    }
    &:disabled,
    &[disabled]{
      border: 1px solid #999999;
      background-color: #cccccc;
      color: #666666;
    }
}
