@import '../../../../../assets/styles/variables';

button {
    background-color: $secondColor;
    color: $secondTextColor;
    padding: 4px 6px;
    // border: 1px solid $mainColor;
    border: none;
    border-radius: 3px;
}

button:hover {
    background-color: $mainColor;
    color: $secondTextColor;
    border: none;
}